version: '3.3'

services:
  db:
    image: mariadb:10.3
    volumes:
      - ./db-data:/var/lib/mysql
    restart: always
    env_file: .env
    environment:
      MYSQL_DATABASE: wordpress
      MYSQL_USER: wordpress
    networks:
      - back

  wordpress:
    depends_on:
      - db
    image: wordpress:4.9-php7.2
    ports:
      - 80:80
      - 443:443
    restart: always
    env_file: .env
    environment:
      WORDPRESS_DB_HOST: db:3306
      WORDPRESS_DB_USER: wordpress
    volumes:
      - ./wp-content:/var/www/html/wp-content 
    networks:
      - back

  phpmyadmin:
    depends_on:
      - db
    image: phpmyadmin/phpmyadmin
    restart: always
    ports:
      - 8081:80
    env_file: .env
    environment:
      PMA_HOST: db
    networks:
      - back

# volumes:
#   db-data:
networks:
  back:
